*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.apk
*.aab
/app/debug
/app/release
/app/build
.navigation
output.json
/gradle.properties
